
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Whisper&display=swap');

*{margin: 0;
padding: 0;
box-sizing: border-box;


}

.main{

    height: 100vh;
    width: 100vw;
    background-color: #6A96D3;
    position: fixed;
}
.navbar{

height: 7vw;
width: 100vw;
background-color: white;
display: flex;
justify-content: flex-start;
align-items: center;
/* position:fixed;
top: 0;
left: 0; */


}

.heading{
    margin-left: 16vw;
    
}
.logo{

    height:5vw;
    width: 25vw;
    background-image: url(images1/sarkar.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.section{
    height: 31vw;
    background-color: #6A96D3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top:-0.5vw;

    flex-wrap: wrap;
    /* margin-top: -2vw; */
    /* position: fixed; */
    /* top: 7vh;
    left: 0; */

}

.box1,.box2,.box3{
height: 26vw;
width: 26vw;
background-color: white;
border-radius: 0.75vw;
/* border:2px solid black; */

/* border-radius: 50px; */


}
/* .box2{
    height: 26vw;
width: 26vw;
    background-color: white;
    border-radius: 0.75vw;


    }
    .box3{
        height: 26vw;
        width: 26vw;
        background-color: white;
        border-radius: 0.75vw;



        } */

        .boxnav1{

            height:5.5vw ;
            width: 100%;
            background-color: #93CC0E;
            padding: 1.8vw 0.75vw 0.75vw 1vw;
            

        }
        .boxnav2{

            height:5.5vw ;
            width: 100%;
            background-color:#FF563F;
            padding: 1.8vw 0.75vw 0.75vw 1vw;


        }
        .boxnav3{

            height:5.5vw ;
            width: 100%;
            background-color:#37BC9B;
            padding: 1.8vw 0.75vw 0.75vw 1vw;



        }

        .box1data{

            padding: 1.8vw 1.8vw 1.8vw 3.7vw;
        }
        .box1data .cred input{

            height: 3.1vw;
            width: 19vw;
            margin:0.6vw;
            border-radius: 0.6vw;
            text-align: left;
            font-size: 1.5vw;
            border: 0.1vw solid rgb(188, 180, 180);
            outline: none;
            text-align:center;

           
        }
        input[type="submit"]{
            height: 2.9vw;
            width: 12vw;
            margin-top: 1vw;
            margin-left: 3.5vw;
            border-radius: 0.8vw;
            background-color:#B2D367;

            border: 0.1vw solid black;
            text-align: center;
            font-size: x-large;
            font-weight: 100;
        }
        a{
            margin-top: 0.75vw;
            display: block;
        }

       
        .foot{
            height:16vh;
            width: 100vw;
            background-color: #517DBB;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2vw;
        }
        .footlogo{

            height: 15vh;
            width: 19vw;
            
            /* background-color: red; */
            background-image: url(images1/footlogo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        input[type="submit"]:hover{

            background-color: rgb(4, 166, 4);
            transition-duration: 1s;
            cursor: pointer;
            transform-origin: 2s;
        }